@model StudentModel

@{
    ViewBag.Title = "Biography";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div>
    <i class="fa fa-file-text-o fa-5x pull-left "></i>
    <h2>Biography</h2>
    <p>Please tell us a little more about yourself and what your passions are that God has placed in your life. Where do you feel he is leading you? </p>
    <p><em>Biographies will be published in the yearbook and graduation program. Please keep your Biography between <strong>150 - 200</strong> words.</em></p>
</div>
<hr />
<div>
    
    @using (Html.BeginForm("Biography", "Students", FormMethod.Post))
    {
        @Html.Hidden("StudentId",  Model.Id)
        @Html.Action("GetText", new { @Model.StudentExpressionType, Model.Id })
    }
</div>




@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/simplyCountable")

    <script>
        $(document).ready(function() {
            $("#Text").simplyCountable({
                counter: '#counter',
                countType: 'words',
                maxCount: @Model.TextMaxLength,
                countDirection: 'down',
                strictMax: true
            });
        })
    </script>
}