To: @ViewBag.InviteeName <@ViewBag.To>
From: KEYS GradHub <gradhub@keysofva.org>
Subject: Welcome to KEYS GradHub!!
Content-Type: text/html; charset=utf-8

<html>
    <body>
        <p>Dear @ViewBag.InviteeName,</p>
        <p>
            Congratulations on your academic accomplishment and welcome to the KEYS GradHub. In order to
            meet the deadlines and requirements that are needed for the Yearbook and Graduation Ceremony we
            have custom designed this website just for you.
        </p>
        <p>
            Before using the site, you will need to Register for an account.
            <ol>
                <li>Go to the <a href="@Url.Action("Index", "Home", null, protocol: Request.Url.Scheme)">KEYS GradHub Website</a>  </li>
                <li>Click on the "Register" Link</li>
                <li>Enter your First Name</li>
                <li>Enter your Last Name</li>
                <li>Enter this Email Address: @ViewBag.To <i>Note: this email will be the Email to be used to log into the site.</i></li>
                <li>Copy and paste this Invite Code: @ViewBag.InviteCode</li>
                <li>Enter a Password <i>Note: Please create a strong password</i></li>
                <li>Confirm your password</li>
            </ol>
        </p>
        <p>
            Sincerely,
        </p>
        <p>GradHub Admin</p>
    </body>
</html>




