@using GraduationHub.Web.Data
@model GraduationHub.Web.Models.CheckList.InformationModel

@{
    ViewBag.Title = "KEYS Graduate Information Sheet";
    Layout = "~/Views/Shared/_CheckListLayout.cshtml";
}
<div>
    <i class="fa fa-graduation-cap fa-5x pull-left "></i>
    <h2>KEYS Graduate Information Sheet</h2>
    <p>Please provide the information.</p>

</div>
<hr />
@using (Html.BeginForm("Information", "CheckList", FormMethod.Post, new {id = "info"}))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            @Html.BootstrapLabelFor(m => m.Name, 3)
            <div class="col-md-6">
                @Html.EditorFor(m => m.Name)
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="form-group">
            @Html.BootstrapLabelFor(m => m.Street, 3)
            <div class="col-md-6">
                @Html.EditorFor(m => m.Street)
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="form-group">
            @Html.BootstrapLabelFor(m => m.City, 3)
            <div class="col-md-6">
                @Html.EditorFor(m => m.City)
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="form-group">
            @Html.BootstrapLabelFor(m => m.StudentEmail, 3)
            <div class="col-md-6">
                @Html.EditorFor(m => m.StudentEmail)
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="form-group">
            @Html.BootstrapLabelFor(m => m.ParentEmail, 3)
            <div class="col-md-6">
                @Html.EditorFor(m => m.ParentEmail)
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <ol>
        <li>
            <div class="form-inline">
                During my studies at KEYS, I have enrolled in:

                @Html.EditorFor(m => m.FineArts)
                @Html.EditorFor(m => m.AcademicClasses)

            </div>
        </li>
        <li>
            @Html.EditorFor(m => m.WillParticipateInGraduation)
            
        </li>
    </ol>
    <em>If you stated above that you <strong>are</strong> graduating with KEYS, please answer the following questions:</em>
    <ol >
        <li>
          
            @Html.EditorFor(m => m.TakenKeysWorldView)
        </li>
        <li>
            @Html.EditorFor(m => m.TakenApprovedWorldView)
        </li>
        <li>
            @Html.EditorFor(m => m.WillSecureAnnouncements)
        </li>
        <li>
      
                @Html.EditorFor(m => m.NeedCapAndGown)
                <div class="form-inline">
                    If YES, what is your height with *shoes?
                    @Html.EditorFor(m => m.Height)
                    <div></div>
                </div>
                
            <em>(*please measure according to the type of shoe you would wear with your gown)</em>
        </li>

    </ol>

    <button type="submit" class="btn btn-success">
        <span class="fa fa-save fa-fw fa-lg"></span> Save
    </button>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        jQuery.validator.setDefaults({
            debug: true,
            success: "valid"
        });

        $('#info').validate({
            errorElement: 'div',
            messages: {
                WillParticipateInGraduation: {
                    required: 'We need to know if you are participating in the KEYS Gradunation ceremony.'
                },
                TakenKeysWorldView: {
                    required: 'Answer required if you are participating in the KEYS Graduation ceremony.'
                },
                TakenApprovedWorldView: {
                    required: 'Answer required if you have not taken Worldview Analysis at KEYS.'
                },
                WillSecureAnnouncements: {
                    required: 'Answer required if you are participating in the KEYS Graduation ceremony.'
                },
                NeedCapAndGown: {
                    required: 'Answer required if you are participating in the KEYS Graduation ceremony.'
                },
                Height: {
                    required: 'Answer required if you need a black cap and gown.'
                }
            },
            rules: {
                Name: {
                    required: true,
                    maxlength: '@FieldLengths.GraduateInformation.Name'
                },
                Street: {
                    required: true,
                    maxlength: '@FieldLengths.Address.Street'
                },
                City: {
                    required: true,
                    maxlength: '@FieldLengths.Address.City'
                },
                StudentEmail: {
                    required: true,
                    maxlength: '@FieldLengths.GraduateInformation.StudentEmail',
                    email: true
                },
                ParentEmail: {
                    required: true,
                    maxlength: '@FieldLengths.GraduateInformation.ParentEmail',
                    email: true
                },
                WillParticipateInGraduation: {
                    required: true
                },

                TakenApprovedWorldView: {
                    required: function(element) {
                        return $("#TakenKeysWorldView_No").prop('checked');
                    }
                },

                TakenKeysWorldView: {
                    required: function(element) {
                        return $("#WillParticipateInGraduation_Yes").prop('checked');
                    }
                },
                WillSecureAnnouncements: {
                    required: function(element) {
                        return $("#WillParticipateInGraduation_Yes").prop('checked');
                    }
                },
                NeedCapAndGown: {
                    required: function(element) {
                        return $("#WillParticipateInGraduation_Yes").prop('checked');
                    }
                },
                Height: {
                    required: function(element) {
                        return $("#NeedCapAndGown_Yes").prop('checked');
                    }
                },
            },
            errorPlacement: function(error, element) {
                if (element.attr('type') == 'checkbox' || element.attr('type') == 'radio' ) {
                    element.closest('.form-group').children(':last').append(error);

                } else if (element.attr('id') == 'Height') {
                    error.appendTo(element.next());
                } else {
            error.appendTo(element.parent().next());
        }
        }
    });
    </script>
}