@model GraduationHub.Web.Domain.GraduateInformation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GraduateInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrolledFineArts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrolledFineArts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrolledAcademicClasses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrolledAcademicClasses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WillParticiateInGraduation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WillParticiateInGraduation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TakenKeysWorldView)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TakenKeysWorldView)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TakenApprovedWorldView)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TakenApprovedWorldView)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WillSecureAnnouncements)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WillSecureAnnouncements)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedCapAndGown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedCapAndGown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
