@model IEnumerable<GraduationHub.Web.Domain.GraduateInformation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrolledFineArts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrolledAcademicClasses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WillParticiateInGraduation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TakenKeysWorldView)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TakenApprovedWorldView)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WillSecureAnnouncements)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NeedCapAndGown)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnrolledFineArts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnrolledAcademicClasses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WillParticiateInGraduation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TakenKeysWorldView)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TakenApprovedWorldView)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WillSecureAnnouncements)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NeedCapAndGown)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
