@using GraduationHub.Web.Controllers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading"><span class="glyphicon glyphicon-ok"></span> Check List</div>


            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item">@(Html.ActionLink<CheckListController>(c => c.Information(), "Graduate Information"))</li>
                <li class="list-group-item">@(Html.ActionLink<CheckListController>(c => c.Biography(), "Biography"))</li>
                <li class="list-group-item">@(Html.ActionLink<CheckListController>(c => c.ExpressionOfThanks(), "Expressions of Thanks"))</li>
                <li class="list-group-item">@(Html.ActionLink<CheckListController>(c => c.SlideShowCaption(), "Slideshow Caption"))</li>
                <li class="list-group-item">@(Html.ActionLink<CheckListController>(c => c.SeniorPortrait(), "Senior Portrait"))</li>
                <li class="list-group-item">@(Html.ActionLink<CheckListController>(c => c.BabyPicture(), "Baby Picture"))</li>
                <li class="list-group-item">@(Html.ActionLink<CheckListController>(c => c.ToddlerPicture(), "Toddler Picture"))</li>
                <li class="list-group-item">@(Html.ActionLink<CheckListController>(c => c.ElementaryPicture(), "Elementary Picture"))</li>
                <li class="list-group-item">@(Html.ActionLink<CheckListController>(c => c.MiddleSchoolPicture(), "Middle School Picture"))</li>
                <li class="list-group-item">@(Html.ActionLink<CheckListController>(c => c.HighSchoolPicture(), "High School Picture"))</li>
            </ul>
        </div>
    </div>
    <div class="col-md-8">
        @RenderBody()
    </div>
</div>

@section scripts
{
    @RenderSection("scripts", false)
}