@{

    string invites = ViewBag.CurrentController.Equals("Invitations", StringComparison.OrdinalIgnoreCase) ? "active" : "";
    string faqs = ViewBag.CurrentController.Equals("FrequentlyAskedQuestions", StringComparison.OrdinalIgnoreCase) ? "active" : "";
    string dates = ViewBag.CurrentController.Equals("ImportantDates", StringComparison.OrdinalIgnoreCase) ? "active" : "";
    string gradInfo = ViewBag.CurrentController.Equals("GraduateInformation", StringComparison.OrdinalIgnoreCase) ? "active" : "";
    string student = ViewBag.CurrentController.Equals("Students", StringComparison.OrdinalIgnoreCase) ? "active" : "";
}

<li class ="@invites">
    <a href="@Url.Action("Index", "Invitations")">
        <span class="fa fa-envelope-o"></span> Invitations
    </a>
</li>
<li class="@faqs">
    <a href="@Url.Action("Index", "FrequentlyAskedQuestions")">
        <span class="glyphicon glyphicon-question-sign"></span> FAQ
    </a>
</li>
<li class="@dates">
    <a href="@Url.Action("Index", "ImportantDates")">
        <span class="glyphicon glyphicon-calendar"></span> Important Dates
    </a>
</li>

<li class="@gradInfo">
    <a href="@Url.Action("Index", "GraduateInformation")">
        <span class="fa fa-graduation-cap"></span> Graduate Information
    </a>
</li>

<li class="@student">
    <a href="@Url.Action("Index", "Students")">
        <span class="fa fa-group"></span> Students
    </a>
</li>

